@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes disc {
    0% {
        transform: translate(0);
    }

    10% {
        transform: translate(-2px, -2px);
    }

    20% {
        transform: translate(2px, -2px);
    }

    30% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(2px, 2px);
    }

    50% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, -2px);
    }

    70% {
        transform: translate(-2px, 2px);
    }

    80% {
        transform: translate(-2px, -2px);
    }

    90% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes myAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1344px;
    width: 100%;
    margin: auto;
}

.card-title {
    color: var(--Color-Gray-1, #3A3A3A);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 28.8px */
}

.card-text {
    color: var(--Color-Gray-3, #898989);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
}

.card-price {
    color: var(--Color-Gray-1, #3A3A3A);
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 30px */
}

.urun-cardlar {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 35px;
    /* justify-content: center; */
    z-index: 0;
}

.card {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    width: 309px;
    z-index: 1;
}

.card:hover {
    .spec-btn {
        opacity: 1;
    }

    .disc {
        opacity: 0;
    }

    .cart-btn {
        opacity: 1;
    }

    .fav {
        opacity: 1;
    }
}

.card-img {
    width: 100%;
    width: 285px;
    height: 300px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    /* border-radius: 5px 5px 0 0; */
}

.card-img img {
    width: 100%;
    z-index: 1;
}

.back-img {
    position: absolute;
    top: 0;
    left: 100%;
    transition: .4s ease;
    z-index: 11;
}

.card-img:hover {
    .back-img {
        left: 0;
        z-index: 1;
    }

    .disc {
        animation: disc 1000ms ease 0s 1 normal none;
    }

}

.disc {
    border-radius: 5px;
    rotate: 45deg;
    background-color: #B88E2F;
    width: 40px;
    height: 40px;
    z-index: 3;
    position: absolute;
    text-align: center;
    right: 20px;
    top: 10px;
}

.disc p {
    line-height: 35px;
    rotate: -45deg;
    font-size: 11px;
    font-weight: 700;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

.fav {
    position: absolute;
    background-color: #FFF;
    color: #B88E2F;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    right: 15px;
    top: 5px;
    opacity: 0;

}

.fav:hover {
    color: #FFF;
    background-color: #B88E2F;
    transition: 0.3s all;
    cursor: pointer;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.btn {
    border: 2px solid var(--Primary, #B88E2F);
    background: #FFF;
    color: var(--Primary, #B88E2F);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    width: 100%;
    /* 24px */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 0.3s ease;
}

.price-add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-btn {
    width: 25%;
    color: #B88E2F;
    border: none;
    border-radius: 50px;
    opacity: 0;
}

.spec-btn {
    width: 100%;
    height: 48px;
    flex-shrink: 0;
    opacity: 0;
}

.cart-btn:hover {
    background-color: #B88E2F;
    color: #FFF;
    cursor: pointer;
}

.spec-btn:hover {
    background-color: #B88E2F;
    color: #FFF;
    animation: myAnim 500ms ease 0s 1 normal none;
    cursor: pointer;
}