

.categories {
    position: sticky;
    position: -webkit-sticky;
    top:50px;
}

.category-btn {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 2px;
    border-radius: 2px;
    transition: 0.3s all;
    width: 213px;
    background-color: #B88E2F;
    display: flex;
    align-items: center;
    justify-content: space-between;
}