@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: auto;
}

ul li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar .container, .logo-area, .nav-links, .nav-links-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu-toggle {
    display:none;}

.logo-area {
    gap: 5px;
    align-items: center;
}

.logo-text{
color: #000;
font-family: Montserrat;
font-size: 34px;
font-style: normal;
font-weight: 700;
}

.nav-links {
    gap: 45px;
}

.burger {
    display: none;
}

.nav-link a {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 15px;
    border-radius: 15px;
    transition: 0.3s all;
}

.nav-link a:hover {
    color: #fff;
    background-color: #B88E2F;

}

.nav-links-right {
    gap: 15px;
}

.nav-link-right {
    transition: 0.3s all;
    border-radius: 50%;
    padding: 10px;
}

.nav-link-right a {
    color: #000;
    display: flex;
}

.nav-link-right:hover {
    background-color: #B88E2F;
}

.banner .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    /* gap: 35px; */
}

.banner-img {
    width: 100%;
    height: 350px;
    background: url(banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px) opacity(0.8);
    background-position: center;
    position: absolute;
    z-index: -1;
}

.page-title {
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;}

.products {
    padding: 100px 0;
}
@media only screen and (max-width: 1100px) {
    .banner {
        margin-top: 100px;
    }

    .navbar .container {
        flex-direction: row-reverse;
        align-items: start;
        height: fit-content;
        gap: 0px;
        top: 100px;
    }

    .menu-toggle {
        display: block;
        position: fixed;
        background-color: #fff;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 50px;
        height: 90px;
        opacity: 0;
        cursor: pointer;
        margin-left: 20px;

    }

    input:checked~.nav-links {
        display: flex;
    }

    .burger {
        display: block;
        position: fixed;
        width: 50px;
        height: 100px;
        padding-left: 20px;
        top: 0;
        left: 0px;
        background-color: #fff;
        width: 50%;
        z-index: 900;
    }

    .logo-area {
        position: fixed;
        justify-content: end;
        right: 0;
        background-color: #fff;
        width: 50%;
        z-index: 999;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
        gap: 20px;
        position: fixed;
        left: 0;
        top: 100px;
        background-color: #fff;
        width: 100%;
        z-index: 9999;
        display: none;
        transition: 0.3s all;

    }

    .nav-link {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        width: 100%;
        padding: 10px;
    }

    .nav-links a:hover {
        background-color: transparent;
        color: #000;
    }

    .nav-links a {
        font-size: 24px;
    }

    .nav-links-right {
        position: fixed;
        bottom: 0px;
        z-index: 9900;
        background-color: #fff;
        height: 50px;
        width: 100%;
        justify-content: space-evenly;
    }

    .nav-link-right {
        z-index: 9999 !important;
    }
}