@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* .######...########.##....##.########.##...... */
/* ##....##..##.......###...##.##.......##...... */
/* ##........##.......####..##.##.......##...... */
/* ##...####.######...##.##.##.######...##...... */
/* ##....##..##.......##..####.##.......##...... */
/* ##....##..##.......##...###.##.......##...... */
/* .######...########.##....##.########.######## */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1344px;
  width: 100%;
  margin: auto;
}

ul li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

.displayNone {
  display: none;
}

.oprTextNone {
  display: none !important;
}

.fixed {
  position: fixed;
}

.top0 {
  top: 0;
}

.width100 {
  width: 100%;
}

.height100px {
  height: 100px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.font16px {
  font-size: 16px;
}

.displayBlock {
  display: block;
}

.opacity1 {
  opacity: 1;
}

.pd10 {
  padding: 10px;
}

.colorBlack {
  color: black;
}

.colorB88E2F {
  color: #b88e2f;
}

.nowrap {
  flex-wrap: nowrap;
}

.absolute {
  position: absolute;
}

.colorWhite {
  color: #fff;
}

.space-around {
  justify-content: space-around;
}

.top100px {
  top: 100px;
}

.widthFit {
  width: fit-content !important;
}

.inlineBlock {
  display: inline-block !important;
}

.mgAuto {
  margin-inline: auto !important;
}

.opacity0 {
  opacity: 0 !important;
}

.bgİmageSettings {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.height100 {
  height: 100% !important;
}

.alignEnd {
  align-items: flex-end !important;
}

.gap10 {
  gap: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.borderRadius50 {
  border-radius: 50%;
}

.cursorPointer {
  cursor: pointer !important;
}

.bgBlack {
  background: #000;
}

.mt100 {
  margin-top: 100px;
}

.height350px {
  height: 350px;
}

.font48px {
  font-size: 48px !important;
}

.overflowHidden {
  overflow: hidden;
}

.flex1-0 {
  flex: 1 0;
}

.justifEnd {
  justify-content: flex-end !important;
}

.flex3-0 {
  flex: 3 0 !important;
}

.objectFitCover {
  object-fit: cover !important;
}

.pdLeft15 {
  padding-left: 15px;
}

.pdBottom15 {
  padding-bottom: 15px;
}

.font28px {
  font-size: 28px !important;
}

.gap6 {
  gap: 6px;
}

.BorderNone {
  border: none !important;
}

.gap32 {
  gap: 32px;
}

.displayGrid {
  display: grid !important;
}

.pdTop30 {
  padding-top: 100px;
}

.objectFitContain {
  object-fit: contain !important;
}

.zIndex1 {
  z-index: 1;
}

.font24px {
  font-size: 24px;
}

.font26px {
  font-size: 26px;
}

.lineHeight150 {
  line-height: 150%;
}

.BgB88E2F {
  background: #b88e2f;
}

.textCenter {
  text-align: center;
}

.pd10 {
  padding: 10px;
}

.pd16 {
  padding: 16px;
}

.gap8 {
  gap: 8px;
}

.flexRow {
  flex-direction: row;
}

.mg20 {
  margin: 20px;
}

.positionSticky {
  position: sticky !important;
}

.alignSelfStart {
  align-self: flex-start;
}

.gap0 {
  gap: 0px;
}

.mgTop20 {
  margin-top: 20px;
}

.font18px {
  font-size: 18px;
}

.lineHeightNormal {
  line-height: normal !important;
}

.gap15 {
  gap: 15px;
}

.row-reverse {
  flex-direction: row-reverse !important;
}

.positionStatic {
  position: static !important;
}

.bgWhite {
  background-color: white;
}

.width25 {
  width: 25%;
}

.mgBottom10 {
  margin-bottom: 10px;
}

.mgTop100 {
  margin-top: 100px;
}

.justifyCenter {
  justify-content: center;
}

.height48px {
  height: 48px;
}

.fontPoppins {
  font-family: Poppins;
}

/* ##.....##.########....###....########..########.########. */
/* ##.....##.##.........##.##...##.....##.##.......##.....## */
/* ##.....##.##........##...##..##.....##.##.......##.....## */
/* #########.######...##.....##.##.....##.######...########. */
/* ##.....##.##.......#########.##.....##.##.......##...##.. */
/* ##.....##.##.......##.....##.##.....##.##.......##....##. */
/* ##.....##.########.##.....##.########..########.##.....## */
header {

  z-index: 99999;
  border-bottom: 1px solid rgba(128, 128, 128, 0.26);
}

.logo-area {
  gap: 5px;
}

.logo-text {
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}


.bar1,
.bar2,
.bar3 {
  height: 3px;
  border-radius: 5px;
  width: 40px;
}

.nav-links {
  gap: 45px;
}


.nav-link a {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px 15px;
  /* border-radius: 15px; */
  transition: 0.3s all;
}

.nav-link a::after,
.nav-link-right a::after {
  content: "";
  width: 100%;
  height: 0.1em;
  background-color: #b88e2f;
  display: block;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  transition: 200ms all ease;
}

.nav-link a:hover::after,
.nav-link a:focus::after,
.nav-link-right a:hover::after,
.nav-link-right a:focus::after {
  transform: scale(1);
}

.nav-link a:hover {
  color: #b88e2f;
}

.nav-link-right {
  transition: 0.3s all;
}

.nav-link-right a {
  color: #000;
  transition: 300ms all;
}

.nav-link-right a:hover {
  color: #b88e2f;
}

.filter-btn {
  display: none;
}

.magaza-btn {
  position: relative;
}

.magaza-hover-ul li a {
  width: fit-content;
  display: inline-block;
  text-wrap: nowrap;
}

.magaza-hover-ul li a:hover {
  color: #b88e2f;
}

.magaza-btn:hover {
  .magaza-hover-ul {
    display: flex;
  }
}

/* .######..##.......####.########..########.########. */
/* ##....##.##........##..##.....##.##.......##.....## */
/* ##.......##........##..##.....##.##.......##.....## */
/* .######..##........##..##.....##.######...########. */
/* ......##.##........##..##.....##.##.......##...##.. */
/* ##....##.##........##..##.....##.##.......##....##. */
/* .######..########.####.########..########.##.....## */
.sliders {
  height: 50vh;
}

.slider {
  height: 50vh;
  transition: all 500ms ease-in-out;
  z-index: 6000;
}



.slider .slider-inner {
  background-image: url(../img/slider1.webp);
}

.slider:nth-child(2) .slider-inner {
  background-image: url(../img/slider2.webp);
}

.slider:nth-child(3) .slider-inner {
  background-image: url(../img/slider3.webp);
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(7, 7, 7, 0.377);
  z-index: 6002;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.activeIndicator {
  background-color: #000000;
}

.active {
  opacity: 1 !important;
}

.sliderBtn {
  background-color: rgba(0, 0, 0, 0.123);
  z-index: 6001;
  transition: 300ms;
}

.sliderBtn:hover {
  background-color: rgba(0, 0, 0, 0.329);
}

/* ########.....###....##....##.##....##.########.########. */
/* ##.....##...##.##...###...##.###...##.##.......##.....## */
/* ##.....##..##...##..####..##.####..##.##.......##.....## */
/* ########..##.....##.##.##.##.##.##.##.######...########. */
/* ##.....##.#########.##..####.##..####.##.......##...##.. */
/* ##.....##.##.....##.##...###.##...###.##.......##....##. */
/* ########..##.....##.##....##.##....##.########.##.....## */




.banner-img {
  background: url(../img/banner.jpeg);
  filter: blur(3px) opacity(0.8);
  background-position: center;
  z-index: -1;
}

.page-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
}

/*.#######..##.....##.########. */
/*##.....##.##.....##.##.....## */
/*##.....##.##.....##.##.....## */
/*##.....##.##.....##.########. */
/*##.....##.##.....##.##...##.. */
/*##.....##.##.....##.##....##. */
/*.#######...#######..##.....## */

/*########..########...#######..########..######## */
/*##.....##.##.....##.##.....##.##.....##....##... */
/*##.....##.##.....##.##.....##.##.....##....##... */
/*########..########..##.....##.##.....##....##... */
/*##........##...##...##.....##.##.....##....##... */
/*##........##....##..##.....##.##.....##....##... */
/*##........##.....##..#######..########.....##... */

.our-products {

  height: 530px;

}

.our-products-inner {
  transition: 500ms all;
  background: rgba(255, 255, 255, 0);
}

.our-products-inner:nth-child(3) {
  .opr-text {
    display: block;
  }
}

.our-products-inner:nth-child(3):hover {
  .opr-text {
    display: block;
  }
}

.our-products-inner:nth-child(1):hover,
.our-products-inner:nth-child(2):hover,
.our-products-inner:nth-child(4):hover,
.our-products-inner:nth-child(5):hover {
  flex: 3 0;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0) 53%,
      rgba(0, 0, 0, 1) 100%);

  .opr-text {
    display: block;
  }
}

.our-products-inner:nth-child(1):not(hover),
.our-products-inner:nth-child(2):not(hover),
.our-products-inner:nth-child(4):not(hover),
.our-products-inner:nth-child(5):not(hover) {
  background-color: #00000085;
}

.our-products-inner:nth-child(3) {
  flex: 3 0;
}

.our-products-inner img {
  z-index: -1;
}

.opr-text h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  word-wrap: normal;
  text-wrap: nowrap;
}

.opr-text button {

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  transition: 0.3s ease;
  padding: 5px 10px;
}

/*.######...######..########...#######...#######..##...... */
/*##....##.##....##.##.....##.##.....##.##.....##.##...... */
/*##.......##.......##.....##.##.....##.##.....##.##...... */
/*.######..##.......########..##.....##.##.....##.##...... */
/*......##.##.......##...##...##.....##.##.....##.##...... */
/*##....##.##....##.##....##..##.....##.##.....##.##...... */
/*.######...######..##.....##..#######...#######..######## */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: #b88e2f;
  border-radius: 25px;
}

/* .########..########...#######..########.######## */
/* .##.....##.##.....##.##.....##.##.....##...##... */
/* .##.....##.##.....##.##.....##.##.....##...##... */
/* .########..########..##.....##.##.....##...##... */
/* .##........##...##...##.....##.##.....##...##... */
/* .##........##....##..##.....##.##.....##...##... */
/* .##........##.....##..#######..########....##... */


.urun-cardlar {
  grid-template-columns: repeat(auto-fit, minmax(min(230px, 100%), 1fr));
  grid-gap: 32px;
  z-index: 0;
}

.card:hover {
  .spec-btn {
    opacity: 1 !important;
  }

  .disc {
    opacity: 0;
  }

  .cart-btn {
    opacity: 1 !important;
  }

  .fav {
    opacity: 1 !important;
  }

  border: 1px solid #b88f2f67;
}

.back-img {
  left: 100%;
  transition: 0.4s ease;
  z-index: 11;
}

.card-img:hover {
  .back-img {
    left: 0;
    z-index: 1;
  }

  .disc {
    animation: disc 1000ms ease 0s 1 normal none;
  }

  .front-img {
    opacity: 0;
    transition: 0.4s ease;
  }
}

.card-title {
  color: var(--Color-Gray-1, #3a3a3a);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 28.8px */
}

.card-text {
  color: var(--Color-Gray-3, #898989);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
}

.card-price {
  color: var(--Color-Gray-1, #3a3a3a);
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 30px */
}

.disc {
  border-radius: 5px;
  rotate: 45deg;
  background-color: #b88e2f;
  width: 40px;
  height: 40px;
  z-index: 3;
  position: absolute;
  text-align: center;
  right: 20px;
  top: 10px;
}

.disc p {
  line-height: 35px;
  rotate: -45deg;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.fav {

  z-index: 3;
  right: 15px;
  top: 5px;
}

.fav:hover {
  color: #fff;
  background-color: #b88e2f;
  transition: 0.3s all;
  cursor: pointer;
}

.btn {
  border: 2px solid var(--Primary, #b88e2f);
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  transition: 0.3s ease;
}



.cart-btn {
  border-radius: 50px;
}

.cart-btn:hover {
  background-color: #b88e2f;
  color: #fff;
  cursor: pointer;
}

.spec-btn:hover {
  background-color: #b88e2f;
  color: #fff;
  animation: myAnim 500ms ease 0s 1 normal none;
  cursor: pointer;
}

/* ########.####.##.......########.########.########. */
/* ##........##..##..........##....##.......##.....## */
/* ##........##..##..........##....##.......##.....## */
/* ######....##..##..........##....######...########. */
/* ##........##..##..........##....##.......##...##.. */
/* ##........##..##..........##....##.......##....##. */
/* ##.......####.########....##....########.##.....## */
.checkbox-apple {
  position: relative;
  width: 50px;
  height: 25px;
  margin: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-apple label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkbox-apple label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.checkbox-apple input[type="checkbox"]:checked+label {
  background: linear-gradient(to bottom, #b86d2f, #b88e2f);
}

.checkbox-apple input[type="checkbox"]:checked+label:after {
  transform: translateX(25px);
}

.checkbox-apple label:hover {
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
}

.checkbox-apple label:hover:after {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.yep {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
}

.categories {
  position: -webkit-sticky;
  top: 110px;
  border-radius: 10px;
  /* background-color: rgba(220, 220, 220, 0.589); */
  max-width: 250px;
  min-height: 250px;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 20px 20px 29px -36px rgba(0, 0, 0, 0.37);
  z-index: 99998;
}

.category-btn {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 5px;
  transition: 0.3s all;
  width: 200px;
  padding: 15px 0;
}

.dropdown {
  padding: 0px 5px;
  /* background-color: aqua; */
  border-bottom: 1px solid rgba(128, 128, 128, 0.247);
}

.check-row {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;

  & label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.dropdown-text {
  width: 100%;
  height: 35px;
  border-radius: 6px;
  border: 1px solid gainsboro;
  font-size: 16px;

  &::placeholder {
    font-size: 15px;
  }

  &.fiyat-text {
    width: 46% !important;
  }
}

.dropdown-body {
  height: 0px;
  overflow: auto;
}

.dropdown-body [type="checkbox"] {
  width: 20px;
  height: 25px;
  cursor: pointer;
}

.dropdown-open {
  height: 170px;
  animation: dropdownOpen 500ms;
  animation-fill-mode: forwards;
}

.dropdown-close {
  height: 0;
  animation: dropdownClose 500ms;
  animation-fill-mode: forwards;
}

.renk-row label {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: row-reverse;
}

.color-circle {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: 1px solid #898989;
  order: 0;
}

/*##.....##..#######..########..####.##...... */
/*###...###.##.....##.##.....##..##..##...... */
/*####.####.##.....##.##.....##..##..##...... */
/*##.###.##.##.....##.########...##..##...... */
/*##.....##.##.....##.##.....##..##..##...... */
/*##.....##.##.....##.##.....##..##..##...... */
/*##.....##..#######..########..####.######## */
@media screen and (max-width: 1024px) {
  header {
    position: static !important;
  }

  .openSideBar {
    transform: translateX(0px);
  }

  .navbar .container {
    height: fit-content;
    flex-direction: column;
  }

  .nav-links {
    gap: 15px;
    flex-direction: column;
    height: fit-content;
    margin-top: 50px;
    z-index: 8888;
  }

  .nav-link a {
    padding: 10 0px;
    font-size: medium;
  }

  .nav-link {
    height: 50px;
  }

  .nav-links-right {
    gap: 32px;
  }

  .magaza-hover-ul {
    left: -30%;
    top: 45px;
    width: 400%;
  }

  .sliders {
    top: 0;
  }

  .banner {
    margin-top: 0px;
  }

  .logo-area {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    z-index: 80000;
  }

  .products {
    margin-top: 0 !important;
  }

  .categories {
    top: 40px !important;
  }

  .category-btn {
    font-size: 16px !important;
  }

  .dropdown-body [type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
  }
}

@media only screen and (max-width: 768px) {
  #logo {
    width: 50%;
  }

  .navbar {
    height: 50px;
  }

  .navbar .container {
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 25px;
    height: 50px;
    background-color: #fff;
    position: fixed;
    z-index: 9999;
  }

  .logo-area {
    justify-content: end;
    background-color: #fff;
    width: 50%;
    height: 50px;
  }

  .urun-cardlar {
    grid-gap: 16px !important;
    grid-template-columns: repeat(auto-fit,
        minmax(min(170px, 100%), 1fr)) !important;
  }

  .hamburger {
    position: absolute;
    left: 27px;
    display: flex;
    z-index: 99999;
  }

  .animationBar1 {
    animation: animationBar1 700ms;
    animation-fill-mode: forwards;
  }

  .animationBar2 {
    animation: animationBar2 700ms;
    animation-fill-mode: forwards;
  }

  .animationBar3 {
    animation: animationBar3 700ms;
    animation-fill-mode: forwards;
  }

  .animationBar1Close {
    animation: animationBar1Close 700ms;
    animation-fill-mode: forwards;
  }

  .animationBar2Close {
    animation: animationBar2Close 700ms;
    animation-fill-mode: forwards;
  }

  .animationBar3Close {
    animation: animationBar3Close 700ms;
    animation-fill-mode: forwards;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    background-color: #fff;
    z-index: 9000;
    height: calc(100vh - 100px);
    left: -195px;
    top: 50px;
    /* gap: 45px; */
    transition: transform 1s;
    margin-top: 0;
  }

  .nav-links a {
    font-size: 18px;
    width: 100%;
    padding: 0 27px;
  }

  .nav-link {
    height: 50px;
  }

  .nav-link a:hover {
    background-color: transparent;
    color: #000;
  }

  .magaza-btn {
    width: 100%;
  }

  .magaza-hover-ul {
    /* background-color: aqua; */
    left: 100%;
    top: 0;
    width: fit-content;
  }

  .magaza-hover-ul li a {
    text-wrap: nowrap;
  }

  .nav-links-right {
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 9900;
    background-color: #fff;
    height: 50px;
    width: 100%;
    justify-content: space-evenly;
  }

  .nav-link-right {
    z-index: 9999 !important;
  }

  .nav-link-right:hover {
    background-color: transparent;
  }

  .products {
    margin-top: 0 !important;
  }

  .categories {
    display: block !important;
    position: fixed !important;
    height: calc(100vh - 98px) !important;
    background-color: white;
    z-index: 8888;
    top: 29px !important;
    border-radius: 0px !important;
    padding-left: 20px;
    width: 250px !important;
    left: -250px;
    transition: transform 1s;
    max-height: inherit !important;
  }

  .filter-btn {
    display: block !important;
  }

  .sliders {
    top: 0;
  }

  .slider .slider-inner {
    background-image: url(../img/slidermobile1.webp);
  }

  .slider:nth-child(2) .slider-inner {
    background-image: url(../img/slidermobile2.webp);
  }

  .slider:nth-child(3) .slider-inner {
    background-image: url(../img/slidermobil3.webp);
  }

  .our-products {
    display: none;
  }

  footer .container {
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    gap: 50px;
  }

  footer {
    margin-bottom: 50px;
  }

  .footer__bank-cards {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;
  }
}

/* ########..#######...#######..########*/
/* ##.......##.....##.##.....##....##...*/
/* ##.......##.....##.##.....##....##...*/
/* ######...##.....##.##.....##....##...*/
/* ##.......##.....##.##.....##....##...*/
/* ##.......##.....##.##.....##....##...*/
/* ##........#######...#######.....##...*/
footer {
  background-color: #fff;
  border-top: 1px solid #b88f2f73;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.ft-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.col-head {
  color: #b88e2f;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.footer-ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-ul li a i {
  font-size: 28px;
  width: 28px;
}

.footer-ul li a,
.veya {
  color: black;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  transition: 300ms color;
}

.footer-ul li a:hover {
  color: #b88e2f;
}

.ft-btn {
  border-radius: 15px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: black;
  background-color: gainsboro;
}

.ft-btn:hover {
  color: #b88e2f;
}

.veya {
  text-align: center !important;
  width: 100%;
  justify-content: center;
}

.veya::after,
.veya::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #b88e2f;
  margin: 16px 0;
}

.wp-number {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: center;
  color: #b88e2f;
  font-size: 28px;
  cursor: pointer;
}

footer .container:nth-child(2),
.footer__bank-cards {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

/* ...###....##....##.####.##.....## */
/* ..##.##...###...##..##..###...### */
/* .##...##..####..##..##..####.#### */
/* ##.....##.##.##.##..##..##.###.## */
/* #########.##..####..##..##.....## */
/* ##.....##.##...###..##..##.....## */
/* ##.....##.##....##.####.##.....## */
@keyframes animationBar1 {
  from {
    transform: rotate(0);
  }

  to {
    transform: translatey(11px) rotate(45deg);
  }
}

@keyframes animationBar2 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

@keyframes animationBar3 {
  from {
    transform: rotate(0);
  }

  to {
    transform: translatey(-11px) rotate(-45deg);
  }
}

@keyframes animationBar1Close {
  from {
    transform: translatey(11px) rotate(45deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes animationBar2Close {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes animationBar3Close {
  from {
    transform: translatey(-11px) rotate(-45deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes disc {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, -2px);
  }

  20% {
    transform: translate(2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dropdownOpen {
  from {
    height: 0;
  }

  to {
    height: 170px;
  }
}

@keyframes dropdownClose {
  from {
    height: 170px;
  }

  to {
    height: 0px;
  }
}

.openSideBar {
  transform: translateX(195px);
}

.openCategory {
  transform: translateX(250px);
}

.arrowRotateUp {
  transform: rotate(180deg);
}